//selectors
.add-option-error{
    color:$color1;
    font-style:italic;
    padding: 0 $m-size;
    margin: $m-size 0 0 0;


}
.add-option{
    display:flex;
    flex-direction: column;
    padding:$m-size;
}
.add-option__input{
    flex-grow:1;
    border-bottom: .3rem solid lighten($color1,10%);
   
    color: $color1;
    margin: 0 0 $s-size 0;
    padding: $s-size;
}
@media (min-width: $desktop-breakpoint){
    .add-option{
        flex-direction: row;
    }
    .add-option__input{
        margin: 0 $s-size 0 0;
    }

}