.widget{
    background:$color3;
    margin-bottom: $xl-size;
}

.widget__elem{
    text-align: center;
    color:$color1;
    padding: $l-size;
    margin:0;
    border-bottom: 1px solid lighten(white,10%);
}

//widget header
.widget-header{
    background: $color1;
    color: white; //text color
    padding: $m-size;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lighten(white,10%);
}

.widget__title{
    margin:0;
}
